.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

/* media query for smaller screens */
@media only screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}

.cards * {
  padding: 0;
}

.card {
  position: relative;
  height: 32vh;
  min-height: 240px;
  width: 360px;
  border: 0;
  background: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0px 12px var(--color-primary);
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card .banner {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--color-secondary-brightest);
  padding: 8px 16px;
  color: white;
  opacity: 0.85;
  z-index: 3;
}

.card .poster {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card .poster::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--color-primary-darkest) 50%, transparent 100%);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster::before {
  bottom: 0;
}

.card .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.75s;
  filter: blur(2px) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a'); /* this approach avoids white fading borders */
}

.card:hover .poster img {
  transition: 1s;
  transform: translateY(-50px);
  filter: blur(6px) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a'); /* this approach avoids white fading borders */
}

.card .details {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  bottom: -30%;
  padding: 16px;
  z-index: 2;
  transition: 0.5s;
}

.card .details * {
  margin: 0;
}

.card:hover .details {
  bottom: 0;
}

.card .details .title {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.card .details .title .logo {
  max-width: 3em;
}

.card .details .title .word {
  margin: auto 0;
  font-size: 1.5em;
  color: var(--color-text-primary-bright);
  text-shadow: 2px 2px 2px var(--color-primary);
  font-weight: 600;
}

.card .details .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card .details .tags span {
  padding: 4px 8px;
  color: var(--color-text-primary-bright);
  background: var(--color-primary-brightest-gradiant);
  border-radius: 4px;
}

.card .details .tags #important {
  background: var(--color-secondary-bright-gradiant);
}

.card .details .tags span:nth-child(odd) {
  background: var(--color-primary-brighter-gradiant);
}

.card .info p {
  opacity: 0;
  transition: 0.75s;
  color: white;
}

.card:hover .info p {
  opacity: 100;
}

.card button {
  color: white;
  background-color: var(--color-secondary-brightest);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0;
  transition: 0.75s;
}

.card button.github {
  background: var(--color-github);
}

.card button.youtube {
  background: var(--color-youtube);
}

.card button.pdf {
  background: var(--color-pdf);
}

.card button:active {
  border: none;
  filter: brightness(0.3);
}

.card button:hover {
  transition: 0.5s;
  filter: brightness(0.65);
  color: white;
  animation: 3s wiggleSmall infinite;
  opacity: 100;
}

.card:hover button {
  opacity: 100;
}
