/* ______________________________________________________________________________________________________________________ */
/* ____________________________________________________ contact form ____________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
form label {
  color: var(--color-text-muted);
}

.contact-section {
  margin: auto;
}

.contact-section .box{
  /* position: relative; */
  display: flex;
}

.contact-section .icon {
  /* background: red; */
}

.contact-section .text {
  /* background: green; */
}
