@media (max-width: 600px) {
  #cornerlink {
    display: none;
  }
}

#cornerlink {
  fill: var(--color-primary-brighter-gradiant);
  color: var(--color-primary-dark);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  animation: none;
  transition: 0.5s;
}

#cornerlink:hover {
  fill: var(--color-github);
}
