/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ footer _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.footer-container {
  padding: 8vh;
  text-align: center;
  color: var(--color-text-primary-dark);
  background-color: var(--color-primary);
}

.footer-container a {
  color: var(--color-text-primary-dark);
}

.footer h2 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footer-information {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer-information {
    display: block;
  }
}

.footer-information-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-information-child:not(:first-child) {
    margin-top: 4vh;
  }
}

.footer-right {
  list-style: none;
  padding: 0;
}

.footer-right li {
  display: inline;
  margin: 0 0.5rem;
}

.footer a {
color: gray;
text-decoration: none;
font-weight: 700;
}

.footer a:hover {
  color: darkgrey;
  text-decoration: none;
  font-weight: 700;
  transition: 0.25s;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.footer hr {
  border: none;
  border-top: 1px solid var(--color-text-primary-dark); /* Adjust color as needed */
  width: 60%; /* Adjust width as needed */
  margin: 2rem auto; /* Adjust margin as needed */
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}

.footer-icon {
  height: 32px;
  width: 32px;
  color: lightgrey;
}

.footer-icon.social:hover {
  animation: spinIcon 1.5s infinite;
  transition: 0.5s;
  scale: 1.2;
  cursor: pointer;
  color: white;
}

.footer-bottom {
  text-align: center;
}
