/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ footer _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
#footer-home {
  margin-top: 0px;
}

footer p {
  font-size: 0.7em;
}

footer h5 {
  font-size: 0.85em;
}

footer hr {
  background-color: var(--color-primary-brightest);
}

footer a {
  color: var(--color-text-dark);
  text-decoration: none;
}

footer a:hover {
  /* color: var(--color-secondary-brightest-gradiant); */
  text-decoration: none;
}
