@import url("terminal.css");

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ jumbotron ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.jumbotron {
  color: var(--color-text);
  margin: 0;
  padding: 0 auto;
  margin: 0;
  /* width: 90vw; */
  min-height: 80vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.large-jumbotron {
  min-height: 90vh;
  border-bottom: none;
}

.container-jumbotron {
  margin: 0 8vw;
  padding: 0;
}

.jumbotron-info {
  margin: auto 0;
}

.jumbotron-info h1 {
  animation: 1s ease 0s normal forwards 1 fadeInSlow;
  /* font-size: 80%; */
  /* color: green; */
  text-shadow: 8px 8px 16px var(--color-primary-darkest);
  /* font-size: 2.5vw; */

}

.jumbotron-text {
  color: var(--color-text-muted);
  margin: 0;
  animation: 1s ease 0s normal forwards 1 fadeInSlow;
  /* font-size: 1vw; */
}

.jumbotron-text p {
  margin: 0;
  margin-top: 1vh;
}

.jumbotron-icons {
  animation: 2s ease 0s normal forwards 1 fadeLeftToRightWait;
}
