@import url("terminal.css");

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ jumbotron ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.jumbotron {
  color: var(--color-text);
  padding: 0 auto;
  margin: 0;
  /* width: 90vw; */
  min-height: 40vh;
  overflow: hidden;
}

/* .jumbotron .container {
  text-align: center;
} */

.jumbotron h1 {
  text-shadow: 8px 8px 16px var(--color-primary-darkest);
}


#jumbotron-home {
  /* overflow: hidden; */
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

.vertical-center {
  display: flex;
  align-items: center;
}

/* .horizontal-center {
  margin: 0 auto !important;
} */

.large-jumbotron {
  min-height: 90vh;
  border-bottom: none;
}

.container-jumbotron {
  margin: 0 16vw;
  padding: 0;
  display: flex;
}

/* @media (min-aspect-ratio: 16/9) {
  .container-jumbotron {
    margin: 0 4vw;
    display: block;
  }
} */

@media (max-aspect-ratio: 9/16) {
  .container-jumbotron {
    margin: 0 4vw;
    display: block;
  }
}

.jumbotron-picture {
  width: auto;
  height: 100%;
  margin: 0 1vw;
  overflow: hidden;
  border-radius: 50%;
  animation: 0.875s ease 0s normal forwards 1 fadeInSlow;
  border: 3px solid var(--color-primary);
}

.jumbotron-picture:hover {
  /* animation: wiggleSmall 5s infinite; */
  transition: 0.25s;
  box-shadow: 0 0 32px var(--color-primary-dark);
}

.jumbotron-picture img {
  transition: 0.25s;
}

.jumbotron-picture img:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(70%);
}

.jumbotron-info {
  margin: auto 0;
  width: auto;
}

.jumbotron-info h1 {
  animation: 0.875s ease 0s normal forwards 1 fadeInSlow;
  /* font-size: 80%; */
  /* color: green; */
  /* font-size: 2.5vw; */

}

.jumbotron-text {
  color: var(--color-text-muted);
  margin: 0;
  animation: 0.875s ease 0s normal forwards 1 fadeInSlow;
  /* font-size: 1vw; */
}

.jumbotron-text p {
  margin: 0;
  margin-top: 1vh;
}

.jumbotron-icons {
  animation: 1.25s ease 0s normal forwards 1 fadeLeftToRightWait;
}

.jumbotron-cv {
  float: right;
  display: block;
  text-align: center;
}