/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ jumbotron ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.jumbotron {
  color: var(--color-text);
  margin: 0;
  padding: 0 auto;
  margin: 0;
}

.vertical-center {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.large-jumbotron {
  min-height: 90vh;
  border-bottom: none;
}

#terminal {
  /* font-family: "Source Code Pro"; */
  margin: 0;
}

#link-name:hover {
  transition: 0.375s;
  color: var(--color-secondary);
}

#underscore {
  animation: blink 1s infinite;
}

.badge {
  background-color: var(--color-primary);
  border: none;
  cursor: default;
}
#command:hover {
  cursor: pointer;
}

#command[contenteditable] {
  display: inline-block;
  /* max-width: 30vw;
  overflow: hidden; */
  caret-color: transparent;
}
#command[contenteditable]:empty::before {
  content: '_';
  display: inline-block;
  animation: blink 1s infinite;
}
#command[contenteditable]:empty:focus::before {
  content: '_';
}




/* ! error - not centered - large jumbotron width not filling */
/* #terminal-response {
  text-align: center;
  color: var(--color-text);
  margin-top: 12vh;
} */

.container-jumbotron {
  /* margin-left: 8vw; */
  margin: 0 8vw;
  padding: 0;
}

.jumbotron-info {
  margin: auto 0;
}

.jumbotron-info h1 {
  animation: 1.5s ease 0s normal forwards 1 fadeInSlow;
}

/* ! might need to remove this later */
button {
  animation: 1.5s ease 0s normal forwards 1 fadeInSlow;
  background-color: var(--color-primary); /* Green */
  border: none;
  color: var(--color-text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1vh;
  margin-right: 1vh;
}

button:hover {
  background-color: var(--color-primary-dark);
}

button:active {
  outline: none;
}

#link-name {
  color: var(--color-secondary-bright-gradiant);
  font-weight: bold;
}

.jumbotron-text {
  color: var(--color-text-muted);
  margin: 0;
  animation: 3s ease 0s normal forwards 1 fadeInSlow;
}

.jumbotron-text p {
  margin: 0;
  margin-top: 1vh;
}

.jumbotron-icons {
  animation: 3.5s ease 0s normal forwards 1 fadeLeftToRight;
}

.icon-social {
  margin: 0 2vh;
  text-decoration: none;
  color: var(--color-primary-dark-gradiant);
  font-size: 2.25em;
  padding: 16px;
}

.icon-social:hover {
  text-decoration: none;
  color: var(--color-primary-brightest);
  top: -8px;
  transition-duration: 1s;
  animation: spinWait 2.5s infinite;
}

.fa-linkedin:hover {
  color: var(--color-linkedin);
}

.fa-github:hover {
  color: var(--color-github);
}

.fa-twitter:hover {
  color: var(--color-twitter);
}

.fa-mail:hover {
  color: var(--color-mail);
}
