/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ navbar _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.navbar {
  font-size: 0.8em;
  height: 10vh;
  animation: 1s ease 0s normal forwards 1 fadeInFast;
  width: 100%;
}


#navbar-logo {
  height: 80px;
  margin: 0 24px 0 0;
  padding: 0;
  opacity: 40%;
}

#navbarSupportedContent {
  margin: 0;
}

.nav-item {
  font-size: 1.7em;
  margin: 16px 64px !important;
}

.navbar ul { 
  /* margin: 150px auto 0;  */
  padding: 0; 
  list-style: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navbar li { 
  display: inline-block; 
  position: relative; 
  padding: 0 10px;
  height: 100%;
  margin: 0;
}
.navbar a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 20px;
}
.navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}
/* @media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
} */
