/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ navbar _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.navbar {
  height: 10vh;
  animation: 1s ease 0s normal forwards 1 fadeInFast;
  width: 100%;
}

.navbar-items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

@media only screen and (max-width: 768px) {
  .navbar-items {
    justify-content: space-between;
    padding: 0 4vw;
  }
}

.navbar li {
  padding: 0 4vw;
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  height: 100%;
  position: relative;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after {
  width: 100%;
  left: 0;
}
