section {
  font-weight: 500;
  padding: 4vh 0;
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
  min-height: 16vh;
}

section:nth-child(odd) {
  background-color: var(--color-background-primary);
}

#about {
  padding: 4vh 24vw;
}

@media screen and (max-width: 1100px) {
  #about {
    padding: 4vh 16vw;
  }
}

@media screen and (max-width: 768px) {
  #about {
    padding: 4vh 8vw;
  }
}

#about * {
  text-align: left;
}

section h1 {
  font-size: 2.5em;
  margin: 0;
}

section h2 {
  color: #7e6000;
  margin: 1vh 0 0 0;
}

section hr {
  border: 1px solid #7e6000;
  margin-top: 0;
}

#about .title {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#about ul {
  margin: 0;
}

#projects h2 {
  text-align: center;
  margin: 0 0 4vh 0;
}

@media screen and (max-width: 768px) {
  #about {
    padding: 4vh 4vw;
  }
}

section h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 4vh;
}

section a {
  font-weight: 600;
  color: var(--color-text-secondary-muted);
}

section b {
  font-weight: 600;
  color: var(--color-text-secondary-muted);
}

section .content {
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

section .content img {
  border-radius: 50%;
  width: 240px;
}

@media screen and (max-width: 1500px) {
  section .content img {
    width: 180px;
  }
}

@media screen and (max-width: 1100px) {
  section .content img {
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  section .content img {
    justify-content: center;
    width: 120px;
  }
}

section .content img:hover {
  transform: scale(1.05);
  transition: transform 0.35s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

section .content-right h1 {
  padding: 1vh 0;
}
section .content-right p,
section .content-right .social-icons {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  section .content img {
    width: 40vw;
  }
}

@media screen and (max-width: 1100px) {
  section .content {
    display: block;
  }
  section .content-left {
    text-align: center;
  }
  section .content .social-icons {
    text-align: center;
  }
}
