section {
  font-weight: 500;
  padding: 4vh 12vw;
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
  min-height: 16vh;
}

@media screen and (max-width: 768px) {
  section {
    padding: 4vh 16vw;
  }
}


section:nth-child(odd) {
  background-color: var(--color-background-primary);
}

section h1 {
  text-align: center;
}

section a {
  font-weight: 900;
  color: var(--color-text-secondary-muted);
}

section b {
  font-weight: 900;
  color: var(--color-text-secondary-muted);
}

#about {
  display:flex;
  flex-direction: row;
  align-items: center;
}

#about h1 {
  text-align: left;
}

@media screen and (max-width: 1100px) {
  #about {
    display: block;
  }
  #about .content-left {
    text-align: center;
  }
  #about .social-icons {
    text-align: center;
  }
}

#about img {
  border-radius: 50%;
  width: 280px;
  margin: 0 32px;
}

@media screen and (max-width: 1100px) {
  #about img {
    margin: 16px 0;
  }
}

@media screen and (max-width: 768px) {
  #about img {
    width: 40vw;
  }
}