.section-container {
    margin: 0;
    /* margin-top: 20vh; */
    padding: 2vw;
    background-color: var(--color-primary-bright);
}

.section-container:nth-child(odd) {
    background-color: var(--color-primary-brighter);
}

.section-container p {
    color: var(--color-text);
}
