@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:wght@300&family=Roboto:wght@300;400&family=Source+Code+Pro&display=swap");
@import "variables.css";
@import "keyframes.css";
@import "navbar.css";
@import "footer.css";
@import "jumbotron.css";
@import "contact.css";
@import "section.css";
@import "card.css";
@import "cornerlink.css";

::selection {
  background: var(--color-secondary-brightest-gradiant); /* WebKit/Blink Browsers */
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________ overwrite bootstrap styling ____________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-white {
  color: var(--color-text) !important;
}

.bg-dark {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary-brightest) !important;
}

.text-muted {
  color: var(--color-text-muted) !important;
}

.text-dark {
  color: var(--color-text-dark) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.btn-secondary {
  background-color: var(--color-secondary) !important;
  color: var(--color-white) !important;
  border: none !important;
}

/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ general ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.6em;
  display: block;
  overflow: auto;
  background-color: var(--color-primary-darkest);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-brighter);
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  background-image: linear-gradient(
      to bottom,
      var(--color-primary-darkest),
      var(--color-secondary-gradiant-low)
    ),
    var(--image-background);
  background-position: right;
  background-size: cover;
  backdrop-filter: blur(10px) grayscale(60%);
  background-attachment: fixed;
  background-color: var(--color-primary-brighter);
  min-height: 100vh;
  font-family: Nunito, Arial, sans-serif;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--color-white);
  padding: 0;
  margin: 0;
}

.background-video {
  position: absolute;
  right: 0;
  z-index: -1;
  filter: blur(12px);
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video {
    width: auto;
    height: 100%;
  }
}

.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 0.5rem;
  /* hide to above page */
  translate: 0 -100%;
  transition: translate 150ms ease-in-out;
}

/* .skip-link:focus {
  translate: 0;
} */

h2 {
  color: var(--color-text);
}

hr {
  background-color: var(--color-text-muted);
}

a {
  color: var(--color-text-bright);
}

a:hover {
  color: var(--color-secondary-brightest);
  transition: color 0.125s ease-in-out;
  animation: wiggleSmall 2.5s infinite;
  text-decoration: none;
  /* text-shadow: 0 0 50px var(--color-stackoverflow), 0 0 100px var(--color-stackoverflow), 0 0 150px var(--color-stackoverflow), 0 0 200px var(--color-stackoverflow); */
}

a:active {
  filter: brightness(65%);
  /* opacity: 0.4; */
  transition-duration: 0.0875s;
  text-shadow: 0 0 50px var(--color-secondary), 0 0 100px var(--color-secondary),
    0 0 150px var(--color-secondary), 0 0 200px var(--color-secondary);
  /* color: var(--color-secondary-dark) !important; */
}

.name {
  color: var(--color-secondary-brightest-gradiant);
}

.icon {
  margin: 0;
  text-decoration: none;
  color: var(--color-text-dark-gradiant);
  /* text-shadow: 4px 4px 8px var(--color-primary-darkest); */
  font-size: 2em;
  padding: 16px;
  transition: 0.5s;
  /* animation: cycleColor 3s linear infinite; */
}

.icon:hover {
  /* color: var(--color-secondary-brightest-gradiant); */
  color: var(--color-text);
  /* text-shadow: 4px 4px 8px var(--color-primary-darkest); */
  transition-duration: 0.125s;
  animation: 2.5s wiggleBig infinite;
  text-shadow: 0 0 1000px var(--color-secondary-brightest),
    0 0 100px var(--color-secondary-brightest),
    0 0 150px var(--color-secondary-brightest),
    0 0 200px var(--color-secondary-brightest);
}

.icon-link:hover {
  text-decoration: none;
  top: -8px;
  animation: spinIcon 1.5s infinite;
}

/* .icon-link:active {
  transition-duration: 0.1s;
  filter: brightness(65%);
} */

.linkedin:hover {
  /* color: var(--color-linkedin); */
  text-shadow: 0 0 50px var(--color-linkedin), 0 0 100px var(--color-linkedin),
    0 0 150px var(--color-linkedin), 0 0 200px var(--color-linkedin);
}

.github:hover {
  /* color: var(--color-github); */
  text-shadow: 0 0 50px var(--color-github), 0 0 100px var(--color-github),
    0 0 150px var(--color-github), 0 0 200px var(--color-github);
}

.stackoverflow:hover {
  /* color: var(--color-stackoverflow); */
  text-shadow: 0 0 50px var(--color-stackoverflow),
    0 0 100px var(--color-stackoverflow), 0 0 150px var(--color-stackoverflow),
    0 0 200px var(--color-stackoverflow);
}

.twitter:hover {
  /* color: var(--color-twitter); */
  text-shadow: 0 0 50px var(--color-twitter), 0 0 100px var(--color-twitter),
    0 0 150px var(--color-twitter), 0 0 200px var(--color-twitter);
}

.youtube:hover {
  /* color: var(--color-youtube); */
  text-shadow: 0 0 50px var(--color-youtube), 0 0 100px var(--color-youtube),
    0 0 150px var(--color-youtube), 0 0 200px var(--color-youtube);
}

.codepen:hover {
  text-shadow: 0 0 50px var(--color-codepen), 0 0 100px var(--color-codepen),
    0 0 150px var(--color-codepen), 0 0 200px var(--color-codepen);
}

.fiverr:hover {
  text-shadow: 0 0 50px var(--color-fiverr), 0 0 100px var(--color-fiverr),
    0 0 150px var(--color-fiverr), 0 0 200px var(--color-fiverr);
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ sections _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.main {
  background-color: var(--color-primary);
  margin: 0;
  padding: 80px 80px 240px 80px;
}

#main-join {
  background-image: linear-gradient(
      to bottom,
      var(--color-primary-dark),
      var(--color-secondary-gradiant)
    ),
    var(--image-background2);
  /* backdrop-filter: blur(10px); */
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-primary);
}

.container-section {
  margin-top: 8vh;
  margin-bottom: 8vh;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--color-primary-gradiant);
  border-radius: 2%;
  box-shadow: 0 0 32px var(--color-primary-dark);
}

.container-text {
  padding: 2.5vh;
}

.container-text > h2 {
  text-align: center;
  padding-bottom: 16px;
}
