@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:wght@300&family=Roboto:wght@300;400&family=Source+Code+Pro&display=swap");
@import "variables.css";
@import "keyframes.css";
@import "navbar.css";
@import "footer.css";
@import "jumbotron.css";
@import "contact.css";
@import "showcase.css";

::selection {
  background: var(--color-secondary); /* WebKit/Blink Browsers */
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________ overwrite bootstrap styling ____________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-white {
  color: var(--color-text) !important;
}

.bg-dark {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary-brightest) !important;
}

.text-muted {
  color: var(--color-text-muted) !important;
}

.text-dark {
  color: var(--color-text-dark) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.btn-secondary {
  background-color: var(--color-secondary) !important;
  color: var(--color-white) !important;
  border: none !important;
}

/* ______________________________________________________________________________________________________________________ */
/* _______________________________________________________ general ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1em;
  display: block;
  overflow: auto;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-bright);
}

body {
  background-image: linear-gradient(
      to bottom,
      var(--color-primary-dark),
      var(--color-secondary-gradiant)
    ),
    var(--image-background);
  backdrop-filter: blur(2px);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-primary);
  min-height: 100vh;
  font-family: Nunito, Arial, sans-serif;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-white);
  padding: 0;
  margin: 0;

  /* justify-content: center;
  align-items: center; */
}

h2 {
  color: var(--color-secondary-bright);
}

hr {
  background-color: var(--color-text-muted);
}

a {
  color: var(--color-text-muted);
}

a:hover {
  /* color: var(--color-secondary); */
  animation: wiggleSmall 2.5s infinite;
  text-decoration: none;
}

a:active {
  color: var(--color-secondary-dark);
}

.linkedin:hover {
  color: var(--color-linkedin);
}

.github:hover {
  color: var(--color-github);
}

.stackoverflow:hover {
  color: var(--color-stackoverflow);
}

.twitter:hover {
  color: var(--color-twitter);
}

.youtube:hover {
  color: var(--color-youtube);
}

/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ sections _______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
.main {
  background-color: var(--color-primary);
  margin: 0;
  padding: 80px 80px 240px 80px;
}

#main-join {
  background-image: 
    linear-gradient(
      to bottom,
      var(--color-primary-dark),
      var(--color-secondary-gradiant)
    ),
    var(--image-background2);
  /* backdrop-filter: blur(10px); */
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-primary);
}

.contact {
  text-align: center;
}

.contact-link {
  color: var(--color-secondary-dark);
}

.contact-link:hover {
  text-decoration: none;
  color: var(--color-primary);
}

.label {
  color: var(--color-primary);
}

.container-section {
  margin-top: 8vh;
  margin-bottom: 8vh;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--color-primary-gradiant);
  border-radius: 2%;
  box-shadow: 0 0 32px var(--color-primary-dark);
}

.container-text {
  padding: 2.5vh;
}

.container-text > h2 {
  text-align: center;
  padding-bottom: 16px;
}
