/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ terminal ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
#terminal,
#terminal-response {
  font-family: "Source Code Pro";
  margin: 0;
}

#terminal-response i {
  color: white;
}

#terminal-response a {
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--color-primary);
}

#terminal-response.acceptable-command {
  text-align: left;
}

#terminal-response.unacceptable-command {
  text-align: center;
}

#link-name {
  color: var(--color-secondary-brightest);
  font-weight: bold;
}

#link-name:hover {
  transition: 0.375s;
  color: var(--color-secondary-brightest);
  font-weight: bold;
  -webkit-text-stroke: 0.5px var(--color-text); /* width and color */
  text-shadow: 0 0 50px var(--color-secondary), 0 0 100px var(--color-secondary),
    0 0 150px var(--color-secondary), 0 0 200px var(--color-secondary);
  animation: 3s cycleColor linear infinite;
}

#link-name:active {
  transition: 0.2s;
  filter: brightness(50%);
}

#underscore {
  animation: blink 1s infinite;
}

.badge {
  padding: 0.125em 0.25em;
  border: none;
  cursor: default;
  animation: squint 3.5s infinite;
}

.badge:focus {
  outline: none;
}

#commandline:hover {
  cursor: pointer;
  background-color: var(--color-primary-brightest);
}

/* ! Error - this isnt working, also a duplicate at .removable */
/* @media (max-width: 768px) {
  #commandline {
    display: none; 
  }
} */

#commandline[contenteditable] {
  display: inline-block;
  /* ! Error - the overflow messes up the styling */
  /* max-width: 16ch; */
  /* overflow: hidden; */
  caret-color: transparent;
}

#commandline[contenteditable]:empty::before {
  content: "_";
  animation: blink 1s infinite;
}
