/* ______________________________________________________________________________________________________________________ */
/* _____________________________________________________ terminal ______________________________________________________ */
/* ______________________________________________________________________________________________________________________ */
#terminal {
  font-family: "Source Code Pro";
  margin: 0;
  /* text-shadow: 2px 2px var(--color-primary-darkest); */
  /* text-shadow: 0 0 3px black, 0 0 5px black; */
}

@media (max-width: 767px) {
  #terminal {
    font-size: 2.25em;
  }
}

#terminal-response i {
  color: white;
}

#terminal-response.acceptable-command {
  text-align: left;
}

#terminal-response.unacceptable-command {
  text-align: center;
}

#link-name {
  color: var(--color-secondary-brightest-gradiant);
  font-weight: bold;
}

#link-name:hover {
  transition: 0.375s;
  color: var(--color-secondary-brightest);
  /* text-shadow: 8px 8px 8px var(--color-primary-darkest); */
  font-weight: bold;
  -webkit-text-stroke: 0.5px var(--color-text); /* width and color */
  text-shadow: 0 0 50px var(--color-secondary), 0 0 100px var(--color-secondary),
    0 0 150px var(--color-secondary), 0 0 200px var(--color-secondary);
  animation: 3s cycleColor linear infinite;
}

#link-name:active {
  transition: 0.2s;
  filter: brightness(50%);
}

#underscore {
  animation: blink 1s infinite;
}

.badge {
  background-color: var(--color-primary);
  border: none;
  cursor: default;
  /* height: inherit; */
  animation: squint 3.5s infinite;
}

/* #commandline[contenteditable]:empty::before ~ .badge {
    animation: squint 4s infinite;
  }  */

/* #commandline {
    min-width: 16vh;
  } */

@media (max-width: 768px) {
  #commandline {
    display: none !important;
  }
}

#commandline:hover {
  cursor: pointer;
  background-color: var(--color-primary-brightest);
}

#commandline[contenteditable] {
  display: inline-block;
  /* ! the overflow messes up the styling for some reason */
  /* max-width: 16ch;
    overflow: hidden; */
  caret-color: transparent;
}

#commandline[contenteditable]:empty::before {
  content: "_";
  /* display: inline-block; */
  animation: blink 1s infinite;
  float: left;
}

/* #commandline[contenteditable]:empty:focus::before {
    content: '_';
  } */
