:root {
  --color-primary: rgb(10, 10, 10);
  --color-primary-gradiant: rgb(10, 10, 10, 0.7);
  --color-primary-bright: rgb(20, 20, 20);
  --color-primary-brighter: rgb(30, 30, 30);
  --color-primary-brighter-gradiant: rgb(30, 30, 30, 0.7);
  --color-primary-brightest: rgb(40, 40, 40);
  --color-primary-dark: rgb(0, 0, 0);
  --color-primary-dark-gradiant: rgb(0, 0, 0, 0.7);
  --color-primary-dark-gradiant-low: rgb(0, 0, 0, 0.5);
  --color-primary-dark-gradiant-lower: rgb(0, 0, 0, 0.2);
  --color-primary-darkest: rgb(0, 0, 0);
  --color-secondary: rgb(115, 45, 24);
  --color-secondary-gradiant: rgb(115, 45, 24, 0.7);
  --color-secondary-gradiant-low: rgb(115, 45, 24, 0.3);
  --color-secondary-bright: rgb(173, 57, 22);
  --color-secondary-bright-gradiant: rgb(173, 57, 22, 0.9);
  --color-secondary-brightest: rgb(255, 60, 0);
  --color-secondary-brightest-gradiant: rgb(255, 60, 0.85);
  --color-secondary-dark: rgb(69, 25, 12);
  --color-secondary-dark-gradiant: rgb(69, 25, 12, 0.7);
  --color-text: rgba(255, 255, 255, 0.85);
  --color-text-bright:rgba(255, 255, 255, 1);
  --color-text-muted: rgba(255, 255, 255, 0.7);
  --color-text-dark: rgb(160, 160, 160);
  --color-text-dark-gradiant: rgba(160, 160, 160, 0.7);
  --color-linkedin: rgb(0, 114, 177);
  --color-github: rgb(121, 0, 121);
  --color-twitter: rgb(29, 161, 242);
  --color-stackoverflow: rgb(244, 129, 37);
  --color-youtube: rgb(254, 0, 0);
  --color-codepen: rgb(30, 30, 38);
  --color-fiverr: rgb(29, 191, 114);
  --color-mail: #ff0000;
  --image-background: url("../images/background.jpg");
  --image-background_LAN: url("../images/background_LAN.jpg");
  --image-background_LAN_cropped: url("../images/background_LAN_cropped.png");
}
